body {
<<<<<<< HEAD
    background-color: rgba(33, 118, 255, 0.743);
    color: rgb(45, 23, 135);
}

h2{
    color: rgb(0, 27, 76);
    text-align: center;
}

.image{
    border: 5px solid rgb(184, 15, 113);
=======
    text-align: center;
    background-color: rgb(255, 255, 165);
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid green;
>>>>>>> nataliamatulis
    border-radius: 10px;
    height: 400px;
    animation: borderAnimation 3s infinite alternate;
}

@keyframes borderAnimation {
    0% {
        border-color: rgb(184, 15, 113);
        border-radius: 10px;
    }
    50% {
        border-color: rgb(114, 3, 90);
        border-radius: 50px;
    }
    100% {
        border-color: rgb(47, 3, 56);
        border-radius: 10px;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.link-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px; 
    font-size: 18px; 
    color: rgb(243, 243, 243); 
    background-color: rgb(33, 118, 255, 0.743);; 
    border: 5px solid  rgb(172, 169, 169); 
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    text-decoration: none; 
    text-align: center; 
}

.link-button:hover {
    background-color: rgb(172, 169, 169); 
    color: white; 
}

h1 {
    text-align: center;
    background-color: #f0f0f0;
    text-transform: uppercase;
    padding: 1.4rem;
    margin: 0;
}

